@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /** Styling for blog posts on the homepage. */
  .homepage-blog-post-card-container {
    @apply w-full md:w-1/2 lg:w-1/3 p-2;
  }
  .homepage-blog-post-card {
    @apply bg-gray-800 rounded-xl h-60 sm:h-52 md:h-72 lg:h-80 p-4 transition duration-500 ease-out transform hover:scale-105 active:scale-105;
  }
  .homepage-blog-post-card-content {
    @apply flex flex-col h-full;
  }
  .homepage-blog-post-category {
    @apply font-semibold tracking-wide mb-1 text-xs sm:text-sm md:text-base;
  }
  .homepage-blog-post-title {
    @apply text-xl sm:text-2xl font-bold text-gray-300;
  }
  .homepage-blog-post-dates-container {
    margin-top: auto;
  }
  .homepage-blog-post-date {
    @apply block text-gray-400 font-medium text-sm md:text-base;
  }

  /** Styling for individual blog post elements. */
  #blog-post-body {
    @apply bg-gray-900;
  }
  #blog-post-header {
    @apply h-screen flex items-center justify-center mb-20;
  }
  #blog-post-homepage-logo-link {
    @apply absolute top-4 left-4 w-14 h-14 border-2 border-gray-300 border-opacity-50 rounded-lg opacity-50 transition duration-500 ease-in-out hover:opacity-100 hover:border-opacity-100 active:opacity-100 active:border-opacity-100;
  }
  #blog-post-cover-credit {
    @apply font-lora p-1 text-xs sm:text-sm md:text-base text-gray-300 absolute top-4 right-2 rounded-lg opacity-50;
  }
  #blog-post-cover-credit > a {
    @apply underline hover:no-underline active:no-underline;
  }
  #blog-post-cover {
    @apply absolute inset-0 w-full h-full opacity-50;
    z-index: -1;
  }
  #blog-post-title-container {
    @apply max-w-screen-lg mx-auto px-4;
  }
  #blog-post-title {
    @apply font-inter text-gray-200 text-2xl sm:text-3xl md:text-4xl font-semibold mb-16 bg-gray-900 rounded-xl p-4 border-2 border-gray-300;
  }
  #blog-post-scroll-indicator-container {
    @apply absolute inset-x-0 bottom-8 flex justify-center;
  }
  #blog-post-scroll-indicator {
    @apply h-8 w-8 animate-bounce;
  }
  #blog-post-content-container {
    @apply mb-24 max-w-screen-md mx-auto px-4 sm:px-10 md:px-16 font-lora text-base sm:text-lg md:text-xl text-gray-300;
  }
  #blog-post-metadata-container {
    @apply text-gray-400 italic mb-12;
  }
  #blog-post-footer {
    @apply py-4 bg-black w-full;
  }
  #blog-post-copyright-notice {
    @apply max-w-screen-md mx-auto px-4 sm:px-10 md:px-16 font-lora text-gray-400 italic;
  }
  #blog-post-license-link {
    @apply underline hover:no-underline active:no-underline;
  }

  /** Styling for common blog post markup. */
  #blog-post-content-container p {
    @apply mb-4;
  }
  #blog-post-content-container strong {
    @apply font-bold italic;
  }
  #blog-post-content-container a {
    @apply italic text-cyan-500 underline hover:no-underline active:no-underline;
  }
  #blog-post-content-container ol {
    @apply mb-4 ml-6 list-decimal;
  }
  #blog-post-content-container ul {
    @apply mb-4 ml-6 list-disc;
  }

  /** A little hack to override the cyan anchor styling above, just for the author link. */
  #blog-post-metadata-container > address > a {
    @apply text-gray-400 underline;
  }

  /** Styling for emojis that are inline with text. */
  img.emoji {
    display: inline;
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
  }
}

/**
 * A custom breakpoint just for the homepage title, since it's relatively big and hard to make responsive using only
 * Tailwind's built-in breakpoints. Note that we're not doing defining something like "xs" b/c that can screw up
 * containers. We also have to manually size it for the sm and md breakpoints b/c the media query messes up the classes.
 */
@media (min-width: 375px) {
  #homepage-title {
    @apply text-5xl;
  }
}
@media (min-width: 640px) {
  #homepage-title {
    @apply text-7xl;
  }
}
@media (min-width: 768px) {
  #homepage-title {
    @apply text-8xl;
  }
}

/** Rules for styling a simple, dark scrollbar. */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(128, 128, 128) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96, 96, 96);
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgb(64, 64, 64);
}
